
<div id="managerTask" style="display: grid; grid-template-columns: 20% 1fr; place-items: center;width: 80% !important; margin: auto !important;">

 <div  class="search">
  <input class="form-control me-2"  type="text" [(ngModel)]="busquedaNombre" placeholder="Buscar por nombre" />

 </div>

  <div class="scroll"  >

    <div *ngFor="let item of filtrarPorNombre(listadoEmpleadoResponseDto, busquedaNombre)" class="infoPersonaje ">
      <div>
        <img src="{{urlImagen}}{{item.foto}}" alt="" class="imagen" />
      </div>

      <div>
        <strong>Nombre: </strong>
        <label for="">{{item.nombre}}</label><br>
        <strong>Cedula: </strong>
        <label for="">{{item.cedula}}</label><br>

        <strong>Cargo: </strong>
        <label for="">{{item.cargo.nombre}}</label><br>


        <strong>Fecha de ingreso: </strong>
        <label for="">{{item.fechaIngreso}}</label><br>

        <div style="display: inline-flex; margin: auto;">
          <button (click)="eliminarEmpleado(item.id);"   class="cerrar" style="display: inline-flex;" mat-button >	<mat-icon>delete_outline</mat-icon></button>
          <button (click)="abrirModalFormularioEditar(item.nombre,item.cedula,item.cargo.id,item.fechaIngreso,urlImagen+item.foto, item.id)" style="display: inline-flex;"class="save" mat-button ><mat-icon>edit</mat-icon></button>

        </div>

      </div>

    </div>
  </div>


</div>
